body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    font-family: Arial, sans-serif;
background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);}
li {
    margin: 10px 0;
}

.container {
    text-align: center;
    padding: 50px;
    border-width: thick;
    border-style:double;
    border-radius: 50px;
    background-color: #f7f7f7;
}

.internalContainer{
    text-align: left;
}
